/* Initialize */

.body {
    display: flex;
    flex-direction: column;
}


.header, .footer {
    background-color: #1F2937;
    color: white;
}


/********** PART 1 : Header **********/

.header {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0 15% 0 15%;
}


/* 1a - Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header-logo {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 5%;
    font-size: 14px;
    white-space: nowrap;
}

a {
    
    text-decoration: none;
    color: white;
}

/* 1b - Hero main text */

.hero-main-part {
    display: flex;
    flex: 1;
    justify-content: space-between;

}

.hero-main-sub-part {
    display: flex;
    flex-direction: column;
    flex:1;
    align-content: center;
    justify-content: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7Eb
}

.hero-signup-button {
    background: #3882F6;
    color: white;
    padding: 4px;
    border-radius: 8px;
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 100px;
    margin-top: 10px;
}



.hero-main-image-part {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: flex-end;
}

.hero-main-image {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}

.hero-main-image-by {
    font-size: 10px;
    margin-top: 10px;
}




/********** PART 2 : Some random informations **********/

.part-some-random-information {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 400px;
    padding: 0 15% 0 15%;
    justify-content: center;
    align-items: center;
}

/* 2a : the title */

.title-some-random-information {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    flex: 1;
    align-items: center;
    margin-top: 20px;
}

/* 2b : the informations */

.each-random-information {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
    gap: 100px;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* each information is composed with a square and a text */

.random-square {
    display: flex;
    border: solid blue;
    border-radius: 10px;
    width: 120px;
    height: 120px;

}

.random-text {
    display: flex;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
    padding: 8px;
    text-align: center; 
    max-width: 120px;

}

/********** PART 3 : Quote **********/

.part-quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    height: 400px;
    padding: 0 15% 0 15%;
    justify-content: center;
    align-items: center;
}

.quote-details {
    display: flex;
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    text-justify: auto;
    color: #1F2937;
}

.quote-author {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    align-self: flex-end;
}


/********** PART 4 : Call to action **********/

.part-call-to-action {
    display: flex;
    background-color: #3882F6;
    height: 100px;
    padding: 2% 5%;
    margin: 5% 15%;
    justify-content: center;
    align-items: center;
}

.full-text-cta {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-cta, .subtext-cta {
    color: white;
}

.text-cta {
    font-weight: bold;
    font-size: 26px;
}

.subtext-cta {
    font-size: 18px;
}

.cta-signup {
    display: flex;
    flex:0 2 25%;
    border: solid white;
    background-color: #3882F6;
    border-radius: 5px;
    width: 10px;
    color: white;
    justify-content: center;
    font-size: 18px;
    padding: 8px;
}



/********** PART 5 : Footer **********/

.footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}